 a {
   text-decoration: none;
   display: inline-block;
   width: 140px;
   height: 40px;
   line-height: 40px;
   text-align: center;
   box-shadow: 2px 2px 3px 3px rgb(204, 204, 204);
   transform: translateY(0);
   transition: box-shadow, transform 0.5s;
 }

 a:hover {
   //box-shadow: 1px 1px 3px 2px rgb(204,204,204) inset ,-1px -1px 3px 2px rgb(204,204,204) inset;
   box-shadow: 1px 30px 50px #ccc;
   transform: translateY(-10px);
   -webkit-transform: translateY(-10px);
   -moz-transform: translateY(-10px);
   -ms-transform: translateY(-10px);
   -o-transform: translateY(-10px);
}
