.erweima{
    width: 600px;
    background-color: #eee;
    margin: 0 auto;
    .first{
        width: 100%;
        height: 120px;
        padding: 50px;
        background-color: #c00;
        img{
            margin-left: 50px;
        }
    }
}