.erweima{
    width: 600px;
    background-color: #eee;
    margin: 0 auto;
    padding: 20px;
    .first{
        width: 60%;
        height: 120px;
        padding: 50px;
        img{
            width: 80px;
            height: 80px;
            margin-left: 50px;
        }
    }
}